<ion-content>
  <div class="background">
    <div class="profile-container">
      <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
    </div>
    <div class="form-container">
      <div class="custom-input">
        <ion-input type="text" placeholder="Identificación" [(ngModel)]="identificacion"></ion-input>
      </div>
      <div class="custom-input">
        <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
      </div>
      <ion-button expand="block" class="login-button" (click)="saveData()">Ingresar</ion-button>
    </div>
  </div>
</ion-content>
