ion-content {
  --background: #f7f7f7;
  border-radius: 20px;
}

.welcome {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  color: #3178dd;
  font-size: 20px;
}

.welcome h2  {
  color: #080808;
  font-weight: bold;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Por defecto: 3 columnas */
  gap: 16px;
  padding: 16px;
  justify-items: center !important;
  margin-top: 2%; /* Valor predeterminado */

  /* Ajustes responsivos */
  @media (max-width: 1024px) and (orientation: portrait) { /* Tablets en modo vertical */
    grid-template-columns: repeat(1, 1fr);
    margin-top: 30%;
  }

  @media (max-width: 1024px) and (orientation: landscape) { /* Tablets en modo horizontal */
    grid-template-columns: repeat(1, 1fr);
    margin-top: 40%; /* Ajusta el margen en horizontal */
  }

  @media (max-width: 768px) { /* Teléfonos grandes */
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20%;
  }

  @media (max-width: 480px) { /* Teléfonos pequeños */
    grid-template-columns: 1fr;
    margin-top: 10%;
  }
}


.room-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Asegura que se adapte al ancho disponible */
  max-width: 100%; /* Agregué un máximo para mejorar en pantallas más grandes */
  height: auto; /* Ajusta la altura según el contenido */
  padding: 20px; /* Agrega espacio interno */
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(224, 216, 216, 0.212);
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  color: #333;
}

@media (min-width: 768px) {
  .room-card {
    max-width: 100%;/* Más ancho para pantallas más grandes */
  }
}


.room-card:hover {
  transform: scale(1.05);
}

.room-card.selected {
  background: linear-gradient(135deg, #f0f1f5, #3178dd);
  color: white;
}

.room-card ion-icon {
  font-size: 36px;
  color: inherit;
}

.room-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}

ion-footer {
  --background: white !important; /* Forzar fondo blanco */
  --ion-background-color: white !important;
  border-top: 1px solid #e0e0e0; /* Línea superior */
  height: 60px;

  /* Centrar botones */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Espaciado entre los botones */
  gap: 20px;
}

ion-footer ion-button {
  color: #3178dd;
  font-size: 20px;
}

ion-header ion-toolbar {
  --background: white !important; /* Forzar fondo blanco */
  --ion-background-color: white !important;
  color: #333; /* Color del texto */
  border-bottom: 1px solid #e0e0e0; /* Línea inferior */
}


.swal2-popup {
  margin: 0 auto !important; /* Centrar */
  padding: 0 !important; /* Evitar padding extra */
  box-shadow: none !important; /* Quita bordes innecesarios */
}

.custom-swal-popup {
  border-radius: 15px; /* Bordes redondeados */
  padding: 20px; /* Espaciado */
  font-size: 5px; /* Tamaño del texto */
}

.custom-swal-title {
  font-size: 8px; /* Tamaño del texto */
  color: #007bff; /* Color del texto */
  font-weight: bold; /* Negrita */
  text-align: center; /* Centrar el texto */
}


.welcome-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.welcome-card {
  width: 100%; /* Ocupará todo el ancho */
  max-width: 1200px; /* Máximo ancho en pantallas grandes */
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Espaciado interno */
  background-color: #fff;
}

.title {
  text-align: center;
  font-size: 24px;
  color: #007bff;
  font-weight: bold;
}

.label {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.value {
  font-size: 18px;
  color: #555;
  font-weight: normal;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

.report-text {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: #444;
  line-height: 1.5;
}
