<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="welcome">
    <h2>Hello, <span>John!</span></h2>
  </div>
  <div class="rooms-container">
    <div
      class="room-card"
      *ngFor="let room of rooms"
    
      (click)="onRoomClick(room)"
      [class.selected]="room.isSelected"
    >
      <ion-icon [name]="room.icon"></ion-icon>
      <p>{{ room.name }}</p>
    </div>
  </div>
</ion-content>

