<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-content">
  <div class="welcome">
    <h2>Hola, <span ><ion-input  readonly type="text" [(ngModel)]="identificacion"></ion-input></span> 
      
    </h2>
  </div>
  <div class="rooms-container">
    <div
      class="room-card"
      *ngFor="let room of rooms"
    
      (click)="onRoomClick(room)"
      [class.selected]="room.isSelected"
    >
      <ion-icon [name]="room.icon"></ion-icon>
      <p>{{ room.name }}</p>
    </div>
  </div>
</ion-content>


<!-- <<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="confirmLogout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->


